.page-title {
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 40%;
    max-width: 400px;
}
.parallax {
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.para-text {
    width: 100%;
    min-height: 350px;
    background-color: antiquewhite;
    font-size: x-large;
    text-align: center;
    line-height: 2;
}
.para-text h2 {
    margin-top: 5px;
    margin-bottom: 20px;
}
.para-image1 {
    background-image: url(../IMG/empty\ cannoli\ shells.jpg);
    margin-top: -50vh;
    height: 900px;
    width: 100%;
}
.para-image2 {
    background-image: url(../IMG/grandma\ fruit\ sponge\ quarter\ sheet.jpg);
}
.para-image3 {
    background-image: url(../IMG/five\ cakes\ in\ fridge.jpg);
}
.para-image4 {
    background-image: url(../IMG/cocoabombs\ gift\ box.jpg);
}