.page-title {
    background-color: rgba(0,0,0,0.4);
    color: white;
}
.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para-hero {
    background-image: url(/IMG/empty\ cannoli\ shells.jpg);
    margin-top: -40vh;
    height: 85vh;
    width: 100%;
}
.para-chocMousse {
    background-image: url(/Img/aloha\ fruit\ sponge\ number\ cake.jpg);
}
.para-openLaptop {
    background-image: url(/Img/five\ cakes\ in\ fridge.jpg);
}
.para-laptopHeadphones {
    background-image: url(/Img/chinese\ new\ year\ cakes.jpg);
}