.contact-container {
    min-height: 50vh;
    background-color: rgba(236, 246, 255, 0.428);
}
.contact-info article {
    width: 90%;
    height: 90%;
    border-radius: 7px;
    background-color: rgba(235, 204, 166, 0.3);
}
.gmap-container {
    height: 300px;
}