.faq-section {
    max-width: 1000px;
    background-color:rgb(247, 255, 245);
}
.accordion-item h2 button {
    color: #000;
    font-size: large;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif ;
}
.accordion-item h2 button::after {
    color: blueviolet;
}
.accordion-body {
    font-size: 18px;
}