.gallery {
    min-height: auto;
    background-color:whitesmoke;
    padding: 100px 0;
    margin: 0;
}
.gallery-container {
    padding: 50px 0;
    margin: auto;
}
/* Gallery filter buttons - let's you hide all images except those in selected category */
.gallery .gallery-filter {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.filter-item {
    margin: 4px;
    color: #fff;
    background-color:black;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 8px 20px 8px 20px;
    display: inline-block;
    cursor: default;
    text-transform: uppercase;
    line-height: 1.2;
    transition: all 0.3s ease;
}
.filter-item.active {
    color: black;
    border-color: black;
    background: aqua;
}
.filter-item:hover {
    color: aqua;
    background:black;
    border-color: aqua;
    z-index: 10;
    transform: translate(0, -20%);
}
  .gallery-item {
      z-index: 1;
}

  .gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery .gallery-item.hide {
    display: none;
}
  .gallery-item .gallery-item-inner{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 5px;
    background-color:honeydew;
    box-shadow: 10px 10px 10px;
    justify-content: center;
    align-items: center;
  }
  /* The overlay effect - lays on top of the container and over the image */
.gallery-item-inner .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: rgba(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    vertical-align: center;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .gallery-item:hover .overlay {
    opacity: 1;
    transition: 350ms ease-in-out;
  }