* {
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
}
.form-container {
    min-width: 400px;
    max-width: 700px;
}
.fb-timeline{
    height: 55vh;
    padding: 10px;
    overflow: hidden;
    min-width: 180px;
}
.fb-page{
    min-width: 320px;
    width: 100%;
    max-width: 504px;
}
@media (min-width:500px) {
    .fb-page {
        min-width: 320px;
        width:100%;
    }
    
}