* {
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
}
section {
    background-color: rgba(27, 136, 0, 0.044);
}
section article {
    background-color: rgba(0,0,0,0);
    font-size: 20px;
}
.instructions-container {
    width: 100%;
    max-width: 1200px;
}
.form-container {
    min-width: 400px;
    max-width: 700px;
}

/* Disable number field arrows on Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Disable number field arrows on Firefox*/
input[type=number] {
    -moz-appearance: textfield;
  }
  
.checkbox-container {
    border: 1px solid;
    border-color:lightgrey;
    background-color: #fff;
    border-radius: 5px;
}
.checkbox-header {
    font-size: medium;
}
.form-check {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width:1200px) {
    .form-container form, .form-container .form-title {
    width: 500px;
    }
}
@media (min-width:1400px) {
    .form-container form, .form-container .form-title {
    min-width: 650px;
    }
}
@media (min-width:1600px) {
    .form-container form, .form-container .form-title {
    min-width: 800px;
    }
}