* {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}
.fb-timeline{
    height: 55vh;
    padding: 0;
    overflow: hidden;
}
/* .fb-page{
    max-width: 70%;
} */
@media (max-width: 700px) {
    .fb-timeline {
        padding:0;
        min-width: 100%;
        width: 100%;
    }
    .fb-page{
        min-width: 100%;
        /* max-width: 500px; */
    }
}
@media (max-width: 1500px) {
    .fb-page {
        max-width: 70%;
    }
}