* {
    border: 2px solid black;
}
.logo {
    max-width: 90px;
    max-height: 90px;
}
.hero-section {
    background: url(../IMG/floral\ cupcakes\ birds\ eye.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 550px;
    width: 100%;
    margin-top: 107px;
}
.hero-text {
    padding: 30px;
    color: #fff;
    height: fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
} 
.hero-text h1 {
    font-style: italic;
    font-size: 80px;
    font-family: 'Cinzel Decorative', cursive;
}
.hero-text h2 {
    font-family: 'Poiret One', serif;
    font-style: italic;
    font-size: 25px;
}
.sub-header {
    font-style: italic;
    font-size: 25px;
    font-family:'Poiret One', serif;
}
.blue-button {
    background-color: rgba(51, 249, 249, 0.45);
}
.bottom-cards {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
li {
    list-style: none;
    max-width: fit-content;
    max-height: fit-content;
}
.fa-check {
    color: green;
}
ul p {
    font-weight: 700;
    font-size: x-large;
    font-family: 'Cormorant Garamond', serif;
    max-width: fit-content;
}

.fb-timeline{
    min-height: 55vh;
    padding: 20px;
    overflow: hidden;
    min-width: 180px;
}
.fb-page{
    min-width: 320px;
    width: 100%;
    min-height: 504px;
    max-width: 504px;
}
@media (min-width:800px) {
    .fb-page {
        min-width: 320px;
        width:100%;
    }
    .fb-timeline {
        margin-top: 48px;
    }
}