.hero-section {
    background-image: url(https://via.placeholder.com/1800x1200);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 550px;
}
.bottom-cards {
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}